<h1>Add Creature to Database</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= bootstrap_form_for @creature url {action: 'create'} do |c| %>
      <div>
        <%= c.text_field :name  %>
      </div>

      <div>
        <%= c.text_area :desciption  %>
      </div>

      <div>
        <%= c.text_field :location  %>
      </div>

      <div>
        <%= c.collection_check_boxes :tag_ids, @tags, :id, :name %>
      </div>
      <%= c.submit "Add Creature", class: "btn btn-default" %>
    <% end %> 
  </div>
</div>